<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <style>
        *{
            background: #414040;
            color: rgb(178, 190, 199);
        }
    
    </style>
</head>
<body>
    <center>
    <div class="profile">
        <h2>
            YOUR PROFILE : {{username}}
        </h2>
        <a href="/logout">
            <button type="button">Lougout</button>
        </a>
        </form>
        </center>
        <br>
    </div>
    <hr>
    <center>
        <table border="2" cellpadding="10">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>phone</th>
            </tr>
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
            </tr>
        </table>
    </center>
    <br>
</body>
</html>
<!--hello0-->